<!DOCTYPE html>
<html>
<title>List</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="vendors/linericon/style.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="vendors/lightbox/simpleLightbox.css">
<link rel="stylesheet" href="vendors/nice-select/css/nice-select.css">
<!-- main css -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/responsive.css">
<body>


<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">


  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h1 class="w3-border-bottom w3-border-light-grey w3-padding-16">Collaborate</h1>
  </div>

   <div id="list">

   </div>

  <div class="w3-row-padding w3-grayscale">
    <br> <br><br> <br><br> <br>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="img/test/1.jpg" alt="John" style="width:100%">
      <h3>Blade Runner 2049</h3>
      <p class="w3-opacity">johndoe@gmail.com</p>
      <p>Officer K, a new blade runner for the Los Angeles Police Department, unearths...</p>
      <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>
  </div>



</div>

</body>
</html>
