body{
	margin-left: 9em;
}
.h1{
	font-family: 'Indie Flower', cursive;
}
.left{
	background-color: rgba(255, 0, 0, 0.6);
}
.right{
	background-color: rgba(0, 180, 0, 0.6);
}

.buttons{
	height: 20em;
	width: 25em;
	text-align: center;
	transition: width 0.5s, height 0.5s;
}
.buttons:hover{
	height: 21em;
	width: 26em;
}

.buttons > h3{
	padding-top: 30%;
}